<div id="<%= dom_id incident %>">
  <div>
    <strong>Title:</strong>
    <%= incident.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= incident.description %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= incident.status %>
  </div>

</div>
